<div class="map" id="map">
  @if(layers.length !== 0){
  <!--Desktop fast controls-->
  <div
    #desktopFastControls
    id="desktopFastControls"
    class="desktop-fast-controls-container"
  >
    <!--Geolocate-->
    <button (click)="geolocateUser()" mat-mini-fab class="bg-light">
      <mat-icon> navigation</mat-icon>
    </button>

    <!--Zoom in/out-->
    <button (click)="zoom('in')" mat-mini-fab class="bg-light">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button (click)="zoom('out')" mat-mini-fab class="bg-light">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
  <!--Desktop controls-->
  <div
    #desktopControlsContainer
    id="desktopControlsContainer"
    class="desktop-controls-container bg-primary-light p-2"
  >
    <!--Groups (each mat card is a group)-->
    @for(group of layerGroups; track group){
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> {{ group }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @for( layer of getLayersForGroup(group); track layer){
        <p>
          <mat-slide-toggle
            [ngModel]="layer.visible"
            (change)="manageLayers($event, layer.name)"
          >
            {{ layer.name }}</mat-slide-toggle
          >
        </p>
        }
      </mat-card-content>
    </mat-card>
    }
  </div>

  <!--Mobile fast controls-->
  <div
    #mobileFastControls
    id="mobileFastControls"
    class="mobile-fast-controls-container"
  >
    <button (click)="geolocateUser()" mat-mini-fab class="bg-light">
      <mat-icon> navigation</mat-icon>
    </button>
    <!--Zoom in/out-->
    <button (click)="zoom('in')" mat-mini-fab class="bg-light">
      <mat-icon>add_circle_outline</mat-icon>
    </button>

    <button (click)="zoom('out')" mat-mini-fab class="bg-light">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
  <!--Mobile controls-->
  <div
    #mobileControlsContainer
    id="mobileControlsContainer"
    class="mobile-controls-container"
  >
    <button
      matMiniFab
      class="mx-auto"
      data-bs-toggle="collapse"
      data-bs-target="#controlPanel"
    >
      <mat-icon>{{
        isMobileControlPanelOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
      }}</mat-icon>
    </button>

    <!--Control content (collapsible)-->
    <!-- Collapsible Control Panel -->
    <div
      id="controlPanel"
      class="controlPanel collapse shadow bg-primary-light"
      (shown.bs.collapse)="isMobileControlPanelOpen = true"
      (hidden.bs.collapse)="isMobileControlPanelOpen = false"
    >
      <!--Groups (each mat card is a group)-->
      @for(group of layerGroups; track group){
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{ group }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for( layer of getLayersForGroup(group); track layer){
          <p>
            <mat-slide-toggle
              [ngModel]="layer.visible"
              (change)="manageLayers($event, layer.name)"
            >
              {{ layer.name }}</mat-slide-toggle
            >
          </p>
          }
        </mat-card-content>
      </mat-card>
      }
    </div>
  </div>
  }
</div>

@if(isLoading){
<div class="progess-spinner">
  <mat-spinner></mat-spinner>
</div>
}
