<div class="map" id="map">
  @if(layers.length !== 0){
  <!--Desktop controls-->
  <div
    #desktopControlsContainer
    id="desktopControlsContainer"
    class="desktop-controls-container bg-primary-light p-2"
  >
    <!--Groups (each mat card is a group)-->
    @for(group of layerGroups; track group){
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title> {{ group }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @for( layer of getLayersForGroup(group); track layer){
        <p>
          <mat-slide-toggle
            [ngModel]="layer.visible"
            (change)="manageLayers($event, layer.name)"
          >
            {{ layer.name }}</mat-slide-toggle
          >
        </p>
        }
      </mat-card-content>
    </mat-card>
    }
  </div>

  <!--Mobile controls-->
  <div
    #mobileControlsContainer
    id="mobileControlsContainer"
    class="mobile-controls-container"
  >
    <button
      matMiniFab
      class="mx-auto"
      data-bs-toggle="collapse"
      data-bs-target="#controlPanel"
    >
      <mat-icon class="m-0">{{
        isMobileControlPanelOpen ? "keyboard_arrow_down" : "keyboard_arrow_up"
      }}</mat-icon>
    </button>

    <!--Control content (collapsible)-->
    <!-- Collapsible Control Panel -->
    <div
      id="controlPanel"
      class="controlPanel collapse shadow bg-primary-light"
      (shown.bs.collapse)="isMobileControlPanelOpen = true"
      (hidden.bs.collapse)="isMobileControlPanelOpen = false"
    >
      <!--Groups (each mat card is a group)-->
      @for(group of layerGroups; track group){
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> {{ group }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for( layer of getLayersForGroup(group); track layer){
          <p>
            <mat-slide-toggle
              [ngModel]="layer.visible"
              (change)="manageLayers($event, layer.name)"
            >
              {{ layer.name }}</mat-slide-toggle
            >
          </p>
          }
        </mat-card-content>
      </mat-card>
      }
    </div>
  </div>
  }
</div>
