<div class="home-container">
  <!-- Image slider container -->
  <!-- <div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      @for(image of homeImageUrls; track image; let i = $index){
      <button
        type="button"
        data-bs-target="#imageSlider"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
      }
    </div>

    <div class="carousel-inner">
      @for(image of homeImageUrls; track image; let i = $index){
      <div
        class="carousel-item active"
        data-bs-interval="4000"
        [class.active]="i === 0"
      >
        <img [src]="image" class="d-block w-100" alt="Gorsium" />
      </div>
      }
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#imageSlider"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon rounded bg-dark"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      #nextCarouselButton
      class="carousel-control-next"
      type="button"
      data-bs-target="#imageSlider"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon rounded bg-dark"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
  <!--Introduction section-->
  <div #about id="about" class="container about-section section">
    <p class="introduction-title txt-lg txt-primary-dark">
      Üdvözöljük a Gorsium Régészeti Park oldalán!
    </p>
    <div class="section-content">
      <div class="text">
        <p class="introduction-subtitle txt-sm txt-primary-dark">
          Fedezd fel Magyarország egyik legizgalmasabb régészeti kincsét: Táci
          Gorsium városát. Ismerd meg az egykori római provinciaváros emlékeit,
          ahol történelmi falak mesélnek a római katonák, polgárok és kereskedők
          mindennapjairól. Sétálj végig az antik úthálózaton, lépj be a forum
          impozáns maradványai között, és érezd át a századokon átívelő
          kulturális és építészeti örökséget. Táci Gorsium – ahol múlt és jelen
          találkozik, és ahol minden követ új történetet mesél.
        </p>
      </div>
    </div>
  </div>

  <hr class="container" />

  <!--Events section-->
  <div #events id="events" class="container events-section section">
    <p class="events-title txt-lg txt-primary-dark">Események</p>
    <div class="section-content">
      <div class="text">
        <p class="events-subtitle txt-sm txt-primary-dark">
          Gorsium – Herculia régészeti park nemcsak a múlt szerelmeseinek kínál
          különleges élményt, hanem mindazoknak, akik egy kis kikapcsolódásra,
          felfedezésre vagy tartalmas programra vágynak. A közel 30 hektáros,
          gyönyörűen parkosított területen egész évben lehetőség nyílik sétálni,
          piknikezni, fotózni, illetve különféle családi és kulturális
          rendezvényeken részt venni. A régészeti park egyedülálló hangulatát a
          római kori romok, a gondozott zöldfelületek és a természet közelsége
          adja, így kiváló helyszín akár iskolai kirándulásokhoz, családi
          programokhoz vagy tematikus eseményekhez is. Gorsium területe alkalmas
          kisebb közösségi rendezvények, történelmi bemutatók, kézműves vásárok
          vagy akár szabadtéri koncertek megszervezésére is. Az év egyik
          legnagyobb eseménye a Floralia – Római tavaszünnep, amelyet minden
          évben májusban rendeznek meg. Ez az ország egyik legjelentősebb római
          kori témájú fesztiválja, ahol a látogatók betekintést nyerhetnek az
          ókori élet mindennapjaiba: legionáriusok vonulnak fel, gladiátorok
          küzdelmeit láthatjuk, kézművesek, előadók és hagyományőrzők idézik meg
          a római kort. A fesztivál idején a park megtelik élettel, zenével,
          illatokkal és színes programokkal – igazi időutazás kicsiknek és
          nagyoknak egyaránt. Az aktuális eseményekről, programokról és
          rendezvényekről mindig naprakész információkat találsz a Gorsium
          hivatalos elérhetőségein, valamint a Facebook-oldalon. Érdemes
          rendszeresen visszanézni, hiszen a szezon során több kisebb esemény,
          tematikus nap és különleges tárlat is várja a látogatókat.
        </p>
      </div>
    </div>
  </div>

  <hr class="container" />

  <!--Contact section-->
  <div #contact id="contact" class="container contact-section section">
    <p class="contact-title txt-huge txt-primary-dark">Kapcsolat</p>
    <div class="d-flex flex-column">
      <div class="d-flex">
        <mat-icon> phone</mat-icon>
        <p class="contact-subtitle txt-sm txt-secondary-light">
          +36-70-661 9988
        </p>
      </div>

      <div class="d-flex">
        <mat-icon> email</mat-icon>
        <p class="contact-subtitle txt-sm txt-secondary-light">
          titkarsag@szikm.hu
        </p>
      </div>
    </div>
  </div>
</div>

@if(isLoading){
<div class="progess-spinner">
  <mat-spinner></mat-spinner>
</div>
}
