<div class="home-container">
  <!-- Image slider container -->
  <div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      @for(image of homeImageUrls; track image; let i = $index){
      <button
        type="button"
        data-bs-target="#imageSlider"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
      }
    </div>

    <div class="carousel-inner">
      @for(image of homeImageUrls; track image; let i = $index){
      <div
        class="carousel-item active"
        data-bs-interval="4000"
        [class.active]="i === 0"
      >
        <img [src]="image" class="d-block w-100" alt="Gorsium" />
      </div>
      }
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#imageSlider"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon rounded bg-dark"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      #nextCarouselButton
      class="carousel-control-next"
      type="button"
      data-bs-target="#imageSlider"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon rounded bg-dark"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Introduction section-->
  <div #about id="about" class="container about-section section">
    <p class="introduction-title txt-lg txt-primary-dark">
      Üdvözöljük a Gorsium Régészeti Park oldalán!
    </p>
    <div class="section-content">
      <div class="text">
        <p class="introduction-subtitle txt-sm txt-primary-dark">
          BLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <!-- <div class="graphics">
        <om-map
          [dots]="dots"
          [lineColor]="'#d0d0d0'"
          [mapColor]="'#24b66f'"
          [animated]="true"
        ></om-map>
      </div> -->
    </div>
  </div>

  <hr class="container" />

  <!--References section-->
  <div #events id="events" class="container events-section section">
    <p class="events-title txt-lg txt-primary-dark">Események</p>
    <div class="section-content">
      <div class="text">
        <p class="references-subtitle txt-sm txt-primary-dark">
          Az alábbi események várhatók 2025-ben
        </p>
      </div>
      <div class="graphics"></div>
    </div>
  </div>

  <hr class="container" />

  <!--Contact section-->
  <div #contact id="contact" class="container contact-section section">
    <p class="contact-title txt-huge txt-primary-dark">Kapcsolat</p>
    <div class="section-content">
      <div class="text">
        <p class="contact-subtitle txt-sm txt-secondary-light">Telefon Email</p>
      </div>
      <div class="graphics">
        <!-- <img
          class="price-graphic"
          src="assets/img/pricing-image.png"
          alt="Introduction Graphic"
        /> -->
      </div>
    </div>
  </div>
</div>

@if(isLoading){
<div class="progess-spinner">
  <mat-spinner></mat-spinner>
</div>
}
