.home-container {
  overflow: auto !important;

  .about-section {
    padding-top: 50px;
  }

  .section {
    height: 500px;
    .section-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      .text {
        flex: 1;
      }
      .graphics {
        flex: 1;
      }
    }
  }

  .contact-section {
    height: 240px;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .home-container {
    margin-top: var(--desktop-navbar-height);
    overflow: auto !important;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .home-container {
    margin-top: var(--mobile-navbar-height);
    overflow: auto !important;
  }
}
